@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Rethink+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}
:root{
    --main-color:#2db0d0;
    --font-color:rgb(72, 69, 69);
}
.first-section{
    height:400px;
    width: 100%;
    background:url("../images/page-header.jpg");
    background-size: cover;
}
.flex{
    display: flex;
}
.sub-header{
    padding: 8px 15px;
    justify-content: flex-end;
    gap: 10px;
}
.log{
    font-size: 12px;
    background: white;
    padding: 5px 8px;
    border-radius: 20px;
    color: #2db0d0;
    font-weight: 600;
}
.social{
    gap:10px;
}
.social-log{
    font-size: 13.5px;
    background: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #2db0d0;
    display: inline-block;
    padding: 5px;
    text-align: center;
}
.twitter:hover{
    color: white;
    background-color: #2db0d0;
}
.main-header{
    height: 100px;
    width: 100%;
    justify-content: space-between;
}
.inner-header{
    height: 100px;
    width:25%;
    background-color:#30b2d2;
    overflow: hidden;
}
.inner-header2{
    height: 100px;
    width:70%;
    display: flex;
    justify-content: end;
    gap:20px;
}
.inner-header-sub{
    height: 70px;
    width: 70%;
}
.inner-header-sub a{
    text-decoration: none;
    padding:20px;
    line-height: 70px;
    background-color:#30b2d2;   margin: 2px;
}
.header-3{
    height: 100px;
    width: 30%;
    margin: 150px;
}
.head{
    height: 100px;
    width: 100%;
}
.head h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.head h3{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}
/*-----------End the header---------------*/

.services-heading{
    min-height: 100px;
    width: 80%;
    margin: 0px auto;
    padding: 20px;
}
.services-heading h4{
    font-size: 24px;
}
.line{
  height: 2px;
  width: 100%;
  background-color:#e6efef;
  margin: 0px auto;
  position: relative;
  margin: 20px 0px;
}      
.line::before{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#2db0d0;
    position: absolute;
    top:-290%;
    left:0%
}
.line::after{
    content: "";
    height: 1px;
    width:20%;
    background-color:#2db0d0;
    position: absolute;
    top:10%;
    left:0%
}
/*-----------------end the secction services headind-------*/
.services{
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.services-box{
    min-height: 200px;
    width: 26%;
}
.services-content{
    height:60px;
    width: 100%;
    display: flex;
}
.services-box1{
    height: 60px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-circle{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color:#2db0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
}
.services-box2{
    height: 60px;
    width: 70%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.services-box2 h1{
    font-size: 24px;
}
.services-para{
    height:100px;
    width: 100%;
    padding: 10px 20px;
}
.services-para p{
    font-size: 15px;
}
.services-para1{
    height:35px;
    width: 100%;
    padding: 0px 20px;
}
/*------End the service style----------*/
.services-style-2{
    min-height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.services-style-box{
    min-height: 250px;
    width: 24.99%;
}
.services-style-box1{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-style-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:#e3e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#555555;
}
.services-style-circle:hover{
    background-color:#30b2d2;
    color:#fff;
}
.services-style-box2{
    height: 130px;
    width: 100%;
}
.services-style-box2 h1{
    padding: 10px 10px;
    color: #000;
    font-size:20px;
    text-align:center;
}
.services-style-box2 p{
    padding: 5px 10px;
    text-align: center;
}
/*------------------end the services style-2-------*/
/*----------start the services-style-3-----------*/
.services-style-3{
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.services-style-3-box{
   min-height: 350px;
    width: 24.99%;
}
.style-box-3-1{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-rotate-box{
    height:0px;
    width:0px;
    border:40px solid #2db0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    transform: rotate(45deg);
   
}
.services-rotate-box:hover{
    transform: rotate(360deg);
    transition: all 500ms ease in ease-in-out 0s ;
}
.style-box-3-2{
    height: 150px;
    width: 100%;
}
.style-box-3-2 h1{
    text-align: center;
    font-size: 27px;
    padding: 10px 10px;
}
.style-box-3-2 p{
    text-align: center;
    font-size: 15px;
    padding: 5px 20px;
    position: relative;
    font-family: sans-serif;
}
.style-box-3-2 p::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #2db0d0;
    position: absolute;
    top:180%;
    left: 0%;
    transform: scale(0);
}
.style-box-3-2 p:hover::after{
    transform: scale(1);
    transition: all ease .5s;
    transform-origin: center;
}

.style-box-3-3{
    height: 50px;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 30px;
    width: 25%;
    background-color:#2db0d0;
    color:#fff;
    border:none
}
/*---------------------end the third servcies style----------*/
/*--------start the services design-----------*/
.services-design{
   min-height: 350px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   flex-wrap: wrap;
}
.services-design-box{
    height: 300px;
    width:18%;
    border:2px solid #2db0d0;
    position: relative;
    padding: 60px 30px;
    border-bottom: 3px solid #2db0d0;
}
.services-design-1{
    height: 70px;
    width: 70px;
    border:2px solid #2db0d0;
    position: absolute;
    top:-8%;
    left:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 5px;
}
.services-design-box h1{
    margin: 20px 10px;
    text-align: center;
    position: relative;
    font-size: 20px;
}
.services-design-box h1::after
{
   content: "";
    height: 2px;
    width: 100%;
    background-color:#2db0d0;
    position: absolute;
    top:150%;
    left: 0%;
    transform: scale(0);
}
.services-design-box h1:hover::after{
    transform: scale(1);
    transition: all ease .5s;
    transform-origin: center;
}
.services-design-box p{
   padding: 10px 0px;
    text-align: center;
    font-family: sans-serif;
}
.services-design-box a{
    text-decoration: none;
     position: absolute;
     left: 35%;
    color: #2db0d0;
}
/*_-------------end the--------------*/
.download{
   min-height: 100px;
    width: 100%;
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.download-box{
    min-height: 100px;
    width: 55%;
    padding: 20px 0px;  
}
.download-box h3{
    font-size: 20px;
    padding: 10px 0px;
    font-weight: 600;
}
.download-box1{
    min-height: 100px;
    width:28%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.downlaod-box1-1{
    height: 50px;
    width: 40%;
    background-color:#30b2d2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downlaod-box1-1 h1{
font-size: 15px;
font-weight: 700;
}
/*-------------End the download---------*/
.footer{
    min-height:400px;
    width:100%;
    background-color:#323a45;
}

    .footer-box{
        min-height: 400px;
        width: 80%;
        background-color:#323a45;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        
    }
    .footer-div{
        height: 400px;
        width: 25%;
        position: relative;
        padding: 10px;
        font-size: 20px;
    }
    .footer-div h4{
        font-size: 30px;
        color: #fff;
    }
    .footer-div h4::after{
        content: "";
        height: 3px;
        width: 30%;
        background-color:#fff;
        position: absolute;
         top:12%;
         left:30%;
    }
    .footer-div h4::before{
        content: "";
        height: 3px;
        width: 30%;
        background-color:#30b2d2;
        position: absolute;
         top:12%;
         left:4%;
    }
    .footer-circle{
        height: 15px;
        width: 15px;
        background-color:#30b2d2;
        border-radius: 50%;
        position: absolute;
        top:10%;
        left:0%;
    }
    .footer-div p{
        margin-top: 20px;
        color: #fff;
    }
    .footer-div a{
        color:#fff;
        font-size: 15px;
    }
    .para{
        font-size: 15px;
    }
    .footer-div h6{
        margin-top: 20px; 
        text-align: center;
        text-align: justify;
        color: #fff;
    }
    .footer-div1{
        height: 400px;
        width: 25%;
        position: relative;
        padding: 10px;
        font-size:15px;
        
    }
    .footer-div1 h4::after{
        content: "";
        height: 3px;
        width: 30%;
        background-color:#fff;
        position: absolute;
         top:12%;
         left:30%;
    }
    .footer-div1 h4::before{
        content: "";
        height: 3px;
        width: 30%;
        background-color:#30b2d2;
        position: absolute;
         top:12%;
         left:4%;
    }
    .footer-div1 h4{
        font-size: 30px;
        color: #fff;
    }
    .footer-div1 p{
        margin-top:20px;
        font-size: 15px;
        color: #fff;
    }
    .footer-div1 h5{
        font-size: 12px;
        color:#88898a;
        margin-top: 10px;
    }
    .footer-gallery{
        margin-top: 50px;
        height:250px;
        width: 95%;
     }
    .footer-gallery-1{
      height: 67px;
      width: 100%;
      display: flex;
      gap:10px;
      margin: 10px;
    }
    .footer-gallery-2{
        height: 67px;
        width:33.33%;
    }
    .footer-gallery-2 img{
        height: 100%;
        width: 100%;
    }
    .footer-bootom{
        height: 100px;
        width: 100%;
        background-color:#292f38;
    }
    .footer-bottom-box{
        height: 100px;
        width: 80%;
        background-color:#292f38;
        margin: 0px auto;
        display: flex;
    }
    .footer-box1{
        height: 100px;
        width:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .footer-box2{
        height: 100px;
        width:50%;
        font-size:25px;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        gap:15px;
        color:#666666;    }
